<html>
<head>
    <meta charset="utf-8"/>
    <title>会员系统</title>
</head>
<div style="width: 20px;height: 100%;position: absolute;left: 200px;top: 0;"></div>
    <frameset rows="50px,80%" border="0">
        <frame src="{:U('Index/top')}"  border="0"  scrolling="no">
        <frameset cols="220px,80%" border="0">
            <frame src="{:U('Index/leftnav')}"    border="0"  scrolling="auto">
            <frame src="{:U('Index/shouye')}" name="main" border="0"  scrolling="auto">
        </frameset>
    </frameset>
</html> 