<extend name="Index:shouye" />
<block name="body">
    <div class="info-main main FromUpToDown">
        <h1>分类添加</h1>
        <form method="post" action="{:U('doadd')}">
            <div class="info-list clearfix">
                <div class="info-right" style="width: 700px;">
                    <div class="info-model clearfix">
                        <span>分类名称</span>
                        <div><input type="text" name="classname" value="" placeholder="分类名称"/></div>
                    </div>
                </div>
            </div>
            <button class="info-submit" type="submit">确定</button>
        </form>
    </div>
</block>
