<extend name="Index:shouye" />
<block name="body">
    <div class="info-main main FromUpToDown">
        <h1>分类编辑 <a href="javascript:history.go(-1);"style="float:right;">返回上一级</a></h1>
        <form method="post" action="{:U('doadd')}" id="postform">
            <div class="info-list clearfix">
                <div class="info-right" style="width: 700px;">
                    <div class="info-model clearfix">
                        <span>分类名称</span>
                        <div><input type="text" name="classname" value="{$res.classname}" placeholder="分类名称"/></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" value="{$res.id}">
            <button class="info-submit" type="submit">确定</button>
        </form>
    </div>
    
</block>
