<extend name="Index:shouye" />
<block name="body">
    <div class="info-main main FromUpToDown">
        <h1>自提点添加</h1>
        <form method="post" action="{:U('doadd')}">
            <div class="info-list clearfix">
                <div class="info-right" style="width: 700px;">
                    <div class="info-model clearfix">
                        <span>自提名称</span>
                        <div><input type="text" name="zname" value="" placeholder="自提名称"/></div>
                    </div>
                    <div class="info-model clearfix">
                        <span>地址</span>
                        <div><input type="text" name="zaddress" value="" placeholder="地址"/></div>
                    </div>
                    <div class="info-model clearfix">
                        <span>联系人</span>
                        <div><input type="text" name="zman" value="" placeholder="联系人"/></div>
                    </div>
                    <div class="info-model clearfix">
                        <span>联系电话</span>
                        <div><input type="text" name="ziphone" value="" placeholder="联系电话"/></div>
                    </div>
                </div>
            </div>
            <button class="info-submit" type="submit">确定</button>
        </form>
    </div>

    
</block>
