<extend name="Index:shouye"/>
<block name="body">
    <div class="info-main main">
        <h1>代理折扣编辑 <a href="javascript:history.go(-1);" style="float:right;">返回上一级</a></h1>
        <form method="post" action="{:U('Funds/Fundsedit')}" id="postform">
            <div class="info-list clearfix">
                <div class="info-right" style="width: 700px;">

                    <div class="info-model clearfix" id="_type1" style="width:800px;">
                        <span>选择代理</span>
                        <div style="width:199px;">
                            <select onchange="checktype(this,1)" id="select1" name="rebate_this_id" class="is_vip _type"
                                    style="color: #666;width:199px;font-size: 14px;border:1px solid #eef1f1;border-radius:3px;height: 36px;margin-right: 5px;">
                                <option value=''>请选择</option>
                                <foreach name="data1" item="vo">
                                    <option value='{$vo.grade_level}'>{$vo.grade_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="info-model clearfix" id="_type2" style="width:800px;">
                        <span>邀请代理</span>
                        <div style="width:199px;">
                            <select onchange="checktype('',2)" id="select2" name="rebate_cover_id" class="is_vip _type"
                                    style="color: #666;width:199px;font-size: 14px;border:1px solid #eef1f1;border-radius:3px;height: 36px;margin-right: 5px;">
                                <!---->
                            </select>
                        </div>
                    </div>


                    <div class="info-model clearfix checkboxist">
                        <span>返利方式</span>
                        <span id="radio"
                              style="overflow: hidden;line-height:15px;height: auto;float: left;width:457px;">
                            <label class="label"><input type="radio" id="radio1" name="rebate_rate_type" value="1"/>充值返钱</label>
                            <label class="label"><input type="radio" id="radio2" name="rebate_rate_type" value="2"/>购物返利&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                                    style="color:red">充值返钱:返金额,购物返利:返百分比</i></label>
                        </span>
                    </div>
                    <div class="info-model clearfix">
                        <span>返利金额</span>
                        <div><input type="text" id="price" name="rebate_rate" placeholder="折扣(直接填写数字)"/></div>
                    </div>
                </div>
            </div>
            <button type="button" class="info-submit" id="fileSave" style="cursor: pointer;">确定</button>
        </form>
    </div>
    <script>
        function checktype(_this,type) {
            if(type == 1){
                $('#select2').children().remove();
                if ($(_this).find('option:selected').val() != '') {
                    var count = $(_this).find('option:selected').val();
                    for (var i = 0; i <= count; i++) {
                        $('#select1').find('option').eq(i + 1).clone().appendTo('#select2');
                    }
                }
            }
            //获取选择代理的type类型
            var select1 = $("._type option:selected");
            //获取邀请代理的type类型
            var select2 = $("#select2 option:selected");

            if (select1.val() == '' || select2.val() == '') {
                return false;
            }

            if (select1.val() != '' && select2.val() != ''){

                $.ajax({
                    url: "{:U('Funds/selectRebate')}",
                    data: {
                        rebate_this_id: select1.val(),
                        rebate_cover_id: select2.val()
                    },
                    type: 'post',
                    datatype: 'html',
                    success: function (data) {
                        $('#price').val(data.rebate_rate);
                        $('#radio label input').each(function (k, v) {
                            var id = $(v).val();
                            if (id == data.rebate_rate_type) {
                                if (data.rebate_rate_type == 1) {
                                    $('#radio2').removeAttr('checked');
                                } else {
                                    $('#radio1').removeAttr('checked');
                                }
                                $(v).prop('checked', 'checked');
                            }
                        })
                    }
                });
            }
        }

        $('#fileSave').click(function () {
            //获取选择代理的type类型
            var select1 = $("#select1 option:selected");
            //获取邀请代理的type类型
            var select2 = parseInt($('#select2').find("option:selected").val());
            var rebate_rate_type= $('input:radio[name="rebate_rate_type"]:checked').val();
            if (select1.val() == '' || select2 == '') {
                alert('必须选择代理等级');
                return false;
            }

            if ($('#price').val() == '') {
                alert('返利不能是空');
                return false;
            }
            console.log($(select1).val());
            console.log(select2);
            $.ajax({
                url: "{:U('Funds/SaveRebate')}",
                data: {
                    'rebate_this_id':$(select1).val(),
                    'rebate_cover_id':select2,
                    'rebate_rate_type':rebate_rate_type,
                    'rebate_rate':$('#price').val()
                },
                type: 'post',
                datatype: 'html',
                success: function (data) {
                    if (data == 1) {
                        alert('修改成功');
                        location.reload(true);
                    } else {
                        alert('网络异常');
                    }
                }
            });
        })
    </script>
</block>
