<extend name="Index:shouye" />
<block name="body">    
    <div class="main">
        <div class="head-content">
            <div class="content" style="position: relative;">
                    <div class="head-title">{$nickname}的提现记录</div>
                    <div class="head-text" style="float: left;margin-top: 20px;margin-left: 10px;">
                            累计金额：{$leiji|default="-"}元
                    </div>
                    <div class="head-title"style="float:right;">
                        <a href="javascript:history.go(-1);">返回上一级</a>
                    </div>
            </div>
        </div>
        <div class="table-list">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th style="width: 10%">银行名称</th>
                    <th style="width: 10%">银行卡号</th>
                    <th style="width: 10%">级别</th>
                    <th style="width: 10%">金额</th>
                    <th style="width: 10%">日期</th>
                    <th style="width: 10%">状态</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="v">
                    <tr>
                      <td> {$v.bankname} </td>
                      <td> {$v.cardno} </td>
                      <td> {$v.grade_name} </td>
                      <td> {$v.cash_money} </td>
                      <td> {$v.date} </td>
                      <td>
                      <if condition="$v['type'] eq 1">已转账</if>
                        <if condition="$v['type'] eq 0">未转账</if>
                      </td>
                    </tr>
                  </volist>
                </tbody>
            </table>
            <div class="page">
                {$page}
            </div>
            <style>
                .prev,.num,.next{width: 40px;border-radius: 3px;display: inline-block;width: 34px;height: 30px;margin-right: 6px;border: 1px solid #ddd;text-align: center;line-height: 30px;color: #727171;}
                .news-left .current{width: 40px;border-radius: 3px;display: inline-block;width: 34px;height: 30px;margin-right: 6px;border: 1px solid #ddd;text-align: center;line-height: 30px;color: #727171;}
                .table-list table img {
                    width: 60px;
                    margin: 0;
                }
                .photo:hover div{display:block!important;}
            </style>
        </div>
    </div>
</block>

